
  <p><%= f.label :title %></p>
  <%= f.text_field :title %><br />

<h3><%= f.label "Text" %></h3>
<%= f.text_area :body, :class => "tinymce", :rows => 40, :cols => 120 %>
<%= tinymce %>
<br/><br/>
 
  <p><%= f.submit "Save" %></p>